.App {
  text-align: center;
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  color:#ff6500
}

.fetch-button{
  min-width: 200px;
  min-height: 50px;
  border-radius: 10px;
  background-color: #282c34;
  color:#ff6500
}